.container{
    max-width: 1000px;
    padding: 20px;
    margin: 0 auto;

}

h1{
    font-size: 3rem;
    color: white;

}

input{
    padding: 10px;
    border-radius: 20px;
    border: none;
    width: 60%;
    max-width: 300px;

}

button{
    background-color: #ff9000;
    padding: 10px;
    border: none;
    border-radius:0 20px 20px 0;
    font-weight: bold;
}
button:hover{
    background-color: #fba32f;
}