* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 10px;
  color: white;
  
}

body {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://img.freepik.com/vetores-premium/formula-mat.jpg");
  background-position: center;
  background-size: cover;
  z-index: -1; /* Mantém no fundo */
}
