
:root {
    --cor-fundo: #333;
    --cor-texto: #fff;
    --cor-header: #222;
    --cor-main: #111;
    --cor-secao: #222;
    --cor-borda: #444;
    --fonte-padrao: Arial, sans-serif;
    --tamanho-h1: 2rem;
    --tamanho-h2: 1.5rem;
    --tamanho-p: 1rem;
    --padding-padrao: 1rem;
    --padding-header: 2rem;
    --margin-padrao: 1rem;
    --largura-max-main: 75rem;
    --largura-imagens: 6.25rem;
    --altura-imagens: 6.25rem;
    --border-radius: 0.3125rem;
    --border-size: 0.0625rem;
   }


.link{
    text-decoration:none ;
    font-size: var(--tamanho-h2);
    color: var(--cor-texto);
    background-color:rgb(246, 205, 0);
    color: #000000;
    width: 8rem;
    height: 2rem;
    text-align: center;
    border-radius: 1rem;
    justify-content: center;
    align-items:center;
   display: flex;
}

.container{
    max-width: var(--largura-max-main);
    margin: var(--padding-header) auto;
    background-color: var(--cor-main);
    padding: var(--padding-header);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:cn;
}

.container div {
    margin: var(--margin-padrao);
    padding: var(--padding-padrao);
    background-color: var(--cor-secao);
    border-radius: var(--border-radius);
    justify-content: center;
    flex-wrap: wrap;
    border-radius: var(--border-radius);
}
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}